<table class="order-summary">
  <thead>
    <tr>
      <th class="order-number">
        <%= Spree.t(:order_number) %>
      </th>
      <th class="order-date">
        <%= Spree.t(:order_date) %>
      </th>
      <th class="order-status">
        <%= Spree.t(:status) %>
      </th>
      <th class="order-payment-state">
        <%= Spree.t(:payment_state) %>
      </th>
      <th class="order-shipment-state">
        <%= Spree.t(:shipment_state) %>
      </th>
      <th class="order-total">
        <%= Spree.t(:total) %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="order-number">
          <%= link_to order.number, order_url(order) %>
        </td>
        <td class="order-date">
          <%= l order.completed_at.to_date %>
        </td>
        <td class="order-status">
          <%= Spree.t("order_state.#{order.state}").titleize %>
        </td>
        <td class="order-payment-state">
          <%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %>
        </td>
        <td class="order-shipment-state">
          <%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %>
        </td>
        <td class="order-total">
          <%= order.display_total %>
        </td>
        <td class="repeat-order">
          <%= form_tag repeat_order_path(order.number), method: :post do %>
            <div class="fields">
              <%= button_tag :class => 'repeatbtn', :type => :submit do %>
                <%= Spree.t(:repeat_order) %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>