<header class="header">
	<div class="container headerStyle">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-8">
				<figure id="logo" class="columns six" data-hook><%= link_to image_tag("spree/yoyo/logo/logo.png"),spree.root_path %><br/></figure>  
			</div>

			<div class="col-md-8 col-sm-8 col-xs-5 headernav">
				<div class="topnav">
					<nav class="navbar-default pull-right">
						<div class="navbar-header">
							<ul class="nav navbar-nav">

							<% if spree_current_user %>
								<li class="navbar-text">Hi Name</li>
								<%= link_to Spree.t(:logout), spree.logout_path %>
								<%= link_to Spree.t(:my_account), spree.account_path %>

							<% else %>

								<li class="navbar-text">Hi! Please</li>
								<%= link_to Spree.t(:login),spree.login_path %>

							<% end %>

							</ul>
						</div>
					</nav>
				</div>

				<div class="bottomnav">
					<nav class="navbar-default">
						<div class="navbar-header">
							<ul class="nav navbar-nav">
								<li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
								<li><a href="">Menu</a></li>
								<li><a href="">About</a></li>
								<li><a href="">Contact</a></li>
								<li id="link-to-cart" data-hook><%= link_to_cart %></li>
							</ul>
						</div>


						<form class="navbar-form pull-right" role="search">
							<div class="form-group search-inner">
								<%= render :partial => 'spree/shared/search' %>
							</div>

						</form>
					</nav>
				</div>




			</div>
		</div>
	</div>
</header>




<header id="header" class="row" data-hook>

	<%= render :partial => 'spree/shared/nav_bar' %>
	<%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>